@import "tailwindcss";

@theme {
  --font-sans: "Comfortaa", "sans-serif";
  --font-mono: "IBM Plex Mono", "monospace";
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-mono);
  }

  body.modal-open {
    overflow: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }
}
